#find-float {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.map-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#supplier-view {
  position: absolute;
  inset: 5%;
  background-color: rgba(256, 256, 256, 0.9);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: grid;
  grid-template-rows: auto auto 1fr;
  place-items: center;
  padding: var(--ws-4);
}

.navigation-btn {
  position: absolute;
  z-index: 50;
  top: 50%;
  border: 1px solid var(--green-dk);
  background: transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 5%;
  height: 5%;
  cursor: pointer;
}

.navigation-btn:hover {
  border-color: var(--green);
}

.navigation-btn.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: var(--ws-4);
}

.navigation-btn.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: var(--ws-4);
}

#supplier-view--title {
  grid-column: 1/-1;
  height: fit-content;
  margin: 0;
  border: none;
  padding: 0;
  padding-bottom: var(--ws-2);
}

#supplier-view--link {
  text-decoration: underline;
}

#supplier-view--link:hover {
  color: var(--yellow-dk);
}

.supplier-view--img-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.supplier-view--img-wrapper.loading {
  opacity: 0;
}

#supplier-view--img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#supplier-view--desc {
  height: 100%;
  margin: var(--ws-2) 0;
  font-style: italic;
}

#supplier-view--addr {
  text-align: center;
}

#supplier-view.hidden {
  display: none;
}

#close-supplier-view-btn {
  overflow: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--base-0);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  color: var(--base-9);
  font: inherit;
  text-indent: 100%;
  cursor: pointer;

  &:hover {
    color: var(--green-dk);
    background-color: var(--base-1);
  }

  &:before,
  &:after {
    position: absolute;
    top: 15%;
    left: calc(50% - 0.0625em);
    width: 0.125em;
    height: 70%;
    border-radius: 0.125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: "";
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.supplier-marker {
  padding: var(--ws-1);
  background-color: var(--base-0);
  border: 2px solid var(--yellow-dk);
  border-radius: 100%;
}

.supplier-marker:hover {
  transform: scale(0.5);
  border: 2px solid var(--green-dk);
  cursor: pointer;
}

.supplier-marker::after {
  display: block;
  content: "";
  height: 40px;
  width: 40px;
  background-image: url("/img/bottlewings.png");
}
